

{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div>


    {% if message %}
    <div class="message">
        <div class='texte-message'>{{message}}</div> 
    </div>
    <div class='back'><a href="{% url 'animal_list' %}">Back</a></div>
    {% else %}
    <div class="animal">
        <h2 class='titre_animal'>{{ animal.id_animal }}</h2>
        <div class="description">
            <div class="details_animal">
                Cet animal est de la race : {{ animal.race }}, c'est un.e {{ animal.type }}. En ce moment, il est {{ animal.etat }} et se situe dans le/la {{ animal.lieu }}.
            </div>                      
        </div>
        <div class="photo_detail">
            <img src="/{{animal.photo}}" width="280" height="280">
        </div> 
    </div> 
    <div class="centrer">   
        <form method="POST" class="post-form">{% csrf_token %}
            <b> Changer : </b> {{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
        </form>
    </div> 
    <div class='back_bis'><a href="{% url 'animal_list' %}">Back</a></div>
    {% endif %}


</div>
 
{% endblock %}